
@import url('https://fonts.googleapis.com/css?family=Quicksand');
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.main-page {
  display: flex;
  background: rgba(0,0,0,.03);
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  color: #3359DB;

  &__container {
    &__delete-icon {
      padding: 0.7em;
    }
  }

  &__background {
    position: absolute;
    display: block;
    right: 0;
    z-index: -10;
    height: 100%;
    width: 50%;
    top: 0;

    img {
      object-position: top left;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.9;
    }
  }

  &__timer-div {
    display: flex;
    justify-content: center;

    &__time {
      display: flex;
      justify-content: center;
      font-size: 95px;
      margin: 12px;
      font-family: 'Digital-7';
    }

    &__time-critical {
      display: flex;
      justify-content: center;
      font-size: 95px;
      margin: 12px;
      font-family: 'Digital-7';
      color: 	#FF0000;
    }

    &__second {
      margin-top: 65px;
    }

    &__second-critical {
      margin-top: 65px;
      color: 	#FF0000;
    }
  }

  &__timer-position {
    flex: 1;
    top: 0;
  }

  &__container {
    display: grid;
    justify-content: center;
    flex: 1;
    justify-items: center;

    &__title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-left: 10px;
    }

    &__check {
      color:#008000
    }

    &__logo {
      padding: 1em 0;
    }

    &__list {
      padding: 0 20px;
      width: 450px;
      height: 70vh;
      box-sizing: border-box;
      overflow-y: scroll;

      &-item {
        width: 350px;
        position: relative;
        display: grid;
        height: 50px;
        grid-template-columns: 1fr auto;
        align-items: center;
        background: white;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0.0625rem 0.2125rem 0.4rem 0 rgba(0, 0, 0, 0.1);
        transition: all 200ms ease-in-out;
        margin-bottom: 8px;
        border-radius: 2px;
        padding: 4px 20px;
        cursor: pointer;

        &__container {
        }

        &__name {
          font-weight: bold;
        }

        &.speaking {
          box-shadow: 0.0625rem 0.2125rem 0.4rem 0 rgba(0, 0, 0, 0.1);
          height: 120px;
          width: 370px;
          margin-left: -10px;
        }
      }

      &-item:hover &:not(.speaking){
        box-shadow: 0.0625rem 0.2125rem 0.4rem 0 rgba(0, 0, 0, 0.1);
        height: 60px;
        width: 370px;
        margin-left: -10px;
      }
    }
  }

  &__input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
    flex-direction: column;
    flex: 1;

    &:before {
      content: '';
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      z-index: 200;
      background: rgb(51, 89, 219);
      transition: 500ms width ease-in-out;
    }

    &:hover {
      &:before{
        width: 100%;
      }
    }

    &__input {
      position: relative;
      width: 370px;
      height: 50px;
      border: none;
      background: transparent;
      border-bottom: 1px solid rgba(51, 89, 219, 0.31);
      padding: 0 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    &__submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      box-shadow: 0.0625rem 0.2125rem 0.8rem 0 rgba(0, 0, 0, 0.3);
      height: 50px;
      margin-top: 20px;
      background-color: #3359DB;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      transition: 500ms box-shadow;

      &:hover {
        box-shadow: 0.0625rem 0.2125rem 0.8rem 0 rgba(0, 0, 0, 0.8);
      }
    }
  }
}
